<a class="margin-zero has-text-right" href="/cart/add?id[]={{ section.settings.product-one-item--one }}&id[]={{ section.settings.product-one-item--two }}&id[]={{ section.settings.product-one-item--three }}&id[]={{ section.settings.product-one-item--four }}" target="_blank">
   <input class="button collection-button bundle-button" align="center" type="submit" value="ADD TO CART">
</a>
